* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Teko, Arial, Helvetica, sans-serif;
    background-image: url(Obraz/monstera.jpg);
    background-color: #000814;
    background-position: center;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.container {
    display: grid;
    grid-template-areas: 
        "navbar navbar"
        "header header"
        "main main"
        "sidebar gallery"
        "sidebar gallery"
        "article article"
        "footer footer";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto auto auto auto auto;
    gap: 0px;
    max-width: 1440px;
    margin: 0px auto;
}

.navbar {
    grid-area: navbar;
}

.navbar ul{
    list-style-type: none;
    background-color: #000814;
    padding: 0px;
    margin: 0px;
    overflow: hidden;

    display: flex;
    justify-content: space-between;
}

.navbar a {
    color: #e0fbfc;
    text-decoration: underline #f48c06;
    text-transform: uppercase;
    font-size: 20px;
    padding: 20px 0px;
    display: block;
}

.navbar a:hover {
    background-color: #003566;
    text-decoration: underline #d62828;
}

.navbar li {
    flex-grow: 1;
    text-align: center;
}

.header {
    grid-area: header;
    background: linear-gradient(0deg , #003566, #001d3d, #000814);
    color: #e0fbfc;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 50px;
}

.text-content {
    text-align: left;
    max-width: 40%;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header-content .logo {
    height: 500px;
    width: auto;
    max-width: 40%;
    margin-right: 100px;
    border-radius: 50%;
}

.header-content .logo:hover {
    cursor: pointer;
    box-shadow: 0 0 50px #f77f00;
    transition: 0.5s;
}

.header-content h1,
.header-content h2 {
    margin-left: 100px;
    text-decoration: underline #f48c06;
}

.header-content h1 {
    font-size: 40px;
}

.header-content h2 {
    font-size: 25px;
    padding: 20px 0px;
}
.main {
    grid-area: main;
    background: linear-gradient(90deg, #0d1b2a, #1b263b, #415a77);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px;
}

.main h3 {
    color: #ff9f1c;
    text-shadow: 4px 5px 5px #3d5a80;
    font-size: 40px;
    padding: 10px 20px;
}

.main p {
    color: #e0fbfc;
    font-size: 30px;
    padding: 10px 20px;
}

.sidebar {
    grid-area: sidebar;
    background: linear-gradient(#ffba08, #f48c06, #e85d04);
    box-shadow: 0 0 50px #f77f00;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
}

.sidebar h3 {
    color: #0d1b2a;
    text-decoration: underline #ffffff;
    text-align: center;
    margin-top: 100px;
    font-size: 35px;
    font-weight: 800;
    position: sticky;
    top: 30px;
    z-index: 1;
    padding: 10px;
}

.sidebar ul {
    color: #0d1b2a;
    list-style-type: disc;
    text-align: left;
    margin-top: 30px;
    margin-left: 60px;
    font-size: 30px;
    font-weight: 700;
    position: sticky;
    top: 120px;
    z-index: 0;
    padding: 20px 0;
}

.gallery {
    grid-area: gallery;
    background: linear-gradient(#e0fbfc, #98c1d9, #3d5a80);
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
}

.picture{
    display: flex;
    max-width: 1200px;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    padding: 20px;
}

.picture img{
    width: 400px;
    height: 300px;
    border-radius: 15px;
    object-fit: cover;
    object-position: center;
    padding: 10px;
}

.picture img:hover {
    cursor: pointer;
    box-shadow: 0 0 35px white;
    transition: 0.5s;
}

.article {
    grid-area: article;
    background: linear-gradient(270deg, #0d1b2a, #1b263b, #415a77);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px;
}

.article h3 {
    color: #ffd60a;
    text-shadow: 4px 5px 5px #0d1b2a;
    font-size: 30px;
    padding: 10px 20px;
}

.article p {
    color: #e0fbfc;
    font-size: 30px;
    padding: 10px 20px;
}

.footer {
    grid-area: footer;
    background: linear-gradient(#003566, #000814);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
    margin-top: 50px;
}

.footer h4 {
    color: #3d5a80;
    margin: 20px;
}

.footer a {
    color: #98c1d9;
    margin: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media (max-width: 768px) {
    .container {
        display: grid;
        grid-template-areas: 
            "navbar"
            "header"
            "main"
            "sidebar"
            "gallery"
            "article"
            "footer";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto auto;
        gap: 0px;
        margin: 0px auto;
    }

    .navbar ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px 0;
        background-color: #000814;
    }

    .navbar li {
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }

    .navbar a {
        display: block;
        width: 100%;
        padding: 5px 0;
        font-size: 20px;
    }

    .header-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
    }

    .header-content h1,
    .header-content h2 {
        margin: 0px;
        padding: 0px;
        line-height: 1.5; 
        text-align: center;
    }

    .header-content h1 {
        font-size: 25px;
    }

    .header-content h2 {
        font-size: 15px;
    }

    .header-content .logo {
        max-width: 80%;
        height: auto;
        margin: 20px 0;
        box-shadow: 0 0 50px #f77f00;
    }

    .main h3 {
        text-align: center;
        font-size: 30px;
    }
    
    .main p {
        font-size: 20px;
    }

    .sidebar {
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }

    .sidebar h3{
        position: static;
        font-size: 30px;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .sidebar ul{
        position: static;
        font-size: 20px;
        margin-top: 0px;
    }

    .gallery {
        margin: 0px auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .picture {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .picture img {
        width: 80%;
        height: auto;
        margin-bottom: 10px;
    }

    .article h3{
        text-align: center;
        font-size: 30px;
    }

    .article p{
        font-size: 20px;
    }
}
