* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: rgb(8,6,54);
    background: radial-gradient(circle, rgba(8,6,54,1) 0%, rgba(103,58,145,1) 100%);
}

.container {
    display: block;
    padding: 2em;
    margin: 3em;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    border: solid 10px rgb(198, 130, 222);
}

h1 {
    font-size: 1.5em;
    text-align: center;
    margin: 0 0 20px;
}

ul {
    font-size: 1em;
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.task-name {
    flex-grow: 1;
}

.task-date {
    margin-left: auto;
    margin-right: 15px;
    font-size: 0.9em;
    font-weight: 600;
    color: black;
}

#searchInput {
    font-size: 1em;
    width: 400px;
    margin: 0 0 20px;
    padding: 10px;
    border-radius: 30px;
    border: solid 3px rgb(68, 14, 112);
}

#taskInput {
    width: 200px;
    padding: 5px;
    border-radius: 10px;
    border: solid 3px rgb(68, 14, 112);
}

#dateInput {
    padding: 4px;
    margin: 5px;
    border-radius: 10px;
    border: solid 3px rgb(68, 14, 112);
}

.highlight {
    background-color: rgb(231, 139, 194);
}

.button {
    width: 60px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    text-align: center;
}

.addBtn {
    background-color: rgb(134, 28, 160);
    color: white;
}

.addBtn:hover {
    background-color: rgb(198, 102, 221);
}

li button {
    background-color: rgb(247, 39, 95);
    color: white;
}

li button:hover {
    background-color: rgb(235, 112, 145);
}

